[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


#
# packages for production
#

[packages]

# primary packages
django = "*"


# other dependencies
django-environ = "*"
pytz = "*"
social-auth-app-django = "*"


#
# packages for local testing
#

[dev-packages]
"flake8" = "*"
mock = "*"
pipenv = "*"


#
# other requirements
#

[requires]
python_version = "3.7"
