###
#
# AS THIS IS TO BE THE PRODUCTION SERVER, INCLUDE A SECRET KEY THAT
# IS SPECIFIC TO THE SERVER AND NOT USED OR DISCOVERABLE ANYWHERE
# ELSE.
#
# THIS CAN BE GENERATED USING THE FOLLOWING CODE, CUT AND PASTE THE
# RESULT INTO THIS FILE
#
# import random
# ''.join([random.SystemRandom().choice('abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*(-_=+)') for i in range(50)])
#
#
###

SECRET_KEY = <GENERATED_KEY>
